// 特集ページ 共通style

// h2タイトル
.title {
  padding-left: 8px;
  border-left: 6px solid $ec-primary;
  font-size: 18px;
  line-height: 1.5;
}
.main-contents-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 12px;
}