// 特集ページ 共通style

// h2タイトル
.title {
  padding-left: 8px;
  border-left: 6px solid $ec-primary;
  font-size: 18px;
  line-height: 1.5;
}

.main-contents-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 6px;
  a {
    color: $text-blue !important;
    &:hover {
      color: $text-primary !important;
      text-decoration: none !important;
    }
  }
}

//話題の新製品バックナンバーのボタン
.kg-in {
  box-shadow: 0px 9px 5px 1px rgb(176 126 164 / 60%) inset;
}

// 画像にopacityを付与したい時
.hover:hover {
  opacity: 0.7;
}

// 比較表
.product-comparison {
  &-table {
    width: 100%;
    font-size: 70%;
    float: left;
    border-collapse: collapse;
    text-align: center;
    box-sizing: border-box;
  word-break: break-all;
    %cell {
      width: 16%;
      padding: 12px 8px;
      border: 1px solid $ec-light-grey2;
      box-sizing: border-box;
      vertical-align: middle;
    }
    th {
      @extend %cell;
      background-color: $bg-light-grey;
    }
    td {
      @extend %cell;
    }
  }
}

.mx-w100 {
  max-width: 100%;
  height: auto;
}

.bg-btn {
  color: #ffffff !important;
  box-shadow: 0 3px 5px 0px #aeaeae;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: rgb(224, 111, 89);
  background: linear-gradient(90deg, rgba(224, 111, 89, 1) 0%, rgba(250, 185, 84, 1) 100%);
}

.line-height {
  line-height: 1.8em !important;
}

.routerLink {
  color: #1122cc;
  text-decoration: underline;
}

div.s-credit {
  display: block;
  width: 100%;
}
div.s-credit table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
div.s-credit table th,
div.s-credit table td {
  padding: 2px 0;
  vertical-align: middle;
  border: solid 1px #ffffff;
  box-sizing: border-box;
}
div.s-credit table th {
  background: #1abc9c none repeat scroll 0 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  box-sizing: border-box;
}
div.s-credit table td {
  background: #eee none repeat scroll 0 0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0em;
  box-sizing: border-box;
}
div.s-credit table td span {
  font-size: 13px;
  margin-left: 3px;
}

.ba-gr {
  border: #626262 dashed 1px;
}

.bg-momo {
  border: 3px solid #ffffff;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 0px 5px 0 rgb(166 166 166);
}

.bg-momo a:link,
.bg-momo a:visited {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #ff5b5b), color-stop(0, #ff8383));
  background: -webkit-linear-gradient(#ff8383, #ff5b5b);
  background: -moz-linear-gradient(#ff8383, #ff5b5b);
  background: -o-linear-gradient(#ff8383, #ff5b5b);
  background: -ms-linear-gradient(#ff8383, #ff5b5b);
  background: linear-gradient(#ff8383, #ff5b5b);
}

.main-product {
  &-btn {
    &:hover {
      .v-btn__content {
        color: $text-white;
        text-decoration: underline;
      }
    }
  }

  &-name {
    color: $text-blue;
  }
}

.category-nav span.v-btn__content {
  width: 120px;
  height: 60px;
}

.campaign .individual .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  height: auto;
}

.campaign .individual a {
  background: #fff url(/ec/images2/special/camera/album/arrow-2-off.png) no-repeat right bottom;
  box-shadow: 0 0 6px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 5%);
  color: #444;
  display: block;
}

.campaign .individual a:hover {
  background: #fff url(/ec/images2/special/camera/album/arrow-2-on.png) no-repeat right bottom;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%), 0 6px 6px rgb(0 0 0 / 20%);
  color: #d80b24;
  text-decoration: underline;
}

.campaign .individual .item-name {
  display: block;
  height: 5em;
  margin-top: 5px;
  padding: 0 3%;
}

.tx-pnk {
  color: #FF3366;
}

.s-bnr p {
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 70%, #ddd 70%) repeat scroll 0 0;
  font-family: 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'ＭＳ Ｐゴシック', Osaka, sans-serif;
  padding-left: 10px;
  margin-top: 30px;
  font-size: 140%;
}

// data文字列に改行入れたいとき
.including-line-breaks {
  white-space:pre-wrap; 
  word-wrap:break-word;
}

// 白四角の中に赤い右矢印の画像
.allow-icon {
  margin: 0 0 4px 0;
  padding-left: 16px;
  background: url(https://shop.kitamura.jp/common/images/arrow_square.gif) no-repeat left 0.1em;
  list-style: none;
}
// 白四角の中に赤い上矢印の画像
.allow-top {
  margin: 0 0 4px 0;
  padding-left: 16px;
  background: url(https://shop.kitamura.jp/common/images/arrow_square_top.gif) no-repeat left 0.1em;
  list-style: none;
}

// guideページに使用
.w760 {
  max-width: 760px;
  margin: 0 auto;
}
// mkr_popup.gif
.icoOpen {
  margin: 0 0.2em;
  padding-right: 1.5em;
  background: url(https://shop.kitamura.jp/common/images/mkr_popup.gif) no-repeat right center;
  color: #1122cc;
}
.icoOpen:hover {
color: #d80b24;
text-decoration: underline;
}

.list-none {
  list-style: none;
}

ul.listAttention li {
  margin: 0 0 4px 0;
  padding-left: 16px;
  color: #666;
  background: url(https://shop.kitamura.jp/common/images/mkr_attention.gif) no-repeat left 0.3em;
  list-style: none;
}
// 非コンテンツ系のページのタイトルに使用
.heading-1 {
  font-size: 180%;
  font-weight: bold;
}
// 背景にラインをつけたいとき
.line-g {
  background: url(/ec/images2/special/camera/bag/feature/trekking/bk_line.gif) repeat scroll top left;
}
// v-btnテキストにアルファベットを使用時、大文字になるのを防ぐ
.text-transform {
  text-transform: none
}

// 文字に黄色のマーカーを引きたいとき
.marker {
  background-color: #ffffcc;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
// グレーの棒線を付けたいとき
.sen-gl {
  border: #B8B8B8 1px solid !important;
  box-sizing: border-box;
}
// floatを解除したい時
.cl {
  clear: both;
}
// width 720px にしたい時
.w720 {
  max-width: 720px;
  margin: 0 auto;
}
// 今週のイチオシ2015
section {
  background: url(https://shop.kitamura.jp/ts_rsc/587/images/bk_line.gif);
  padding: 19px;
  p {
    line-height: 1.5em;
    font-size: 18px;
    color: #1a0708;
  }
}
@media screen and (max-width: 463px) {
  section {
    padding: 5% 2%;
  }
}

// 点線を引きたい時
hr {
  background: #fff;
  border: 0;
  border-bottom: #999 1px dashed;
  height: 30px;
  margin-bottom: 30px;
}