// 特集ページ 共通style

// h2タイトル
.title {
  padding-left: 8px;
  border-left: 6px solid $ec-primary;
  font-size: 18px;
  line-height: 1.5;
}

.kg-in {
  box-shadow: 0px 9px 5px 1px rgb(176 126 164 / 60%) inset;
}

img:hover {
  opacity: 0.7;
}

.main-contents-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 12px;
}

.product-comparison {
  &-table {
    font-size: 12px;
    border-collapse: collapse;
    text-align: center;
    %cell {
      width: 16%;
      padding: 12px 8px;
      border: 1px solid $ec-light-grey2;
      vertical-align: middle;
    }
    th {
      @extend %cell;
      background-color: $bg-light-grey;
    }
    td {
      @extend %cell;
    }
  }
}